node_modules/
.expo/
.expo-shared/
build/
dist/
logs/
*.log
*.bak*
*.backup*
.DS_Store
Thumbs.db
.vscode/
.idea/
*.gradle
android/build/
android/app/build/
ios/build/
ios/Pods/
*.xcworkspace
node_modules/@react-native/gradle-plugin/react-native-gradle-plugin/build/
